<header>
    <nav id="menu">
        <div class="logo">
            <a href="/" aria-label="Ir al dashboard de Lumo">
                <img src="/lumo-dashboard.png" alt="Logo de Lumo" style="width: 12rem"/>
            </a>
        </div>
        <ul class="links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/about/">Sobre nosotros</a></li>
            <li><a href="/contact/">Contáctanos</a></li>
        </ul>
        <div
            class="login-btn"
            id="barnav-auth-btn-container"
            style="display: flex; gap: 0.7em; align-items: center"
        >
            <div id="barnav-auth-btn"></div>
        </div>
    </nav>
</header>
